# ETL Assignment - Jeff Brown
#### In this assignment I create a database using the number of different makes of used cars available for sale in different states.  The data is taken from Craigslist.  In the same database is a table with the population for each state.  This allows analysis of differences in preferences in cars by state and also to see if there is a correlation to the number of cars and population in the state.

#### The data is for cars manufactured between 2010 and 2015 and broken into the following makes: subaru","honda", "toyota","BMW","mercedes","ford","chrysler-dodge", "chevrolet".  The search is limited to states with a population exceeding 10,000,000.  This is done partially for ease of grading.  Even limited to 10,000,000 the acquisition of the data takes 15 minutes since it has to go to every city in Craigslist for the state.

#### The number of cars for sale is scraped from Craigslist, the population data is taken from an API call to census.gov and the state abbreviation (needed for the Craigslist search) is scraped from wordpopulationreview.com.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
from splinter import Browser
import time
from config import ckey, username, password #ckey is key for census database, username and password are for PostgreSQL
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func,  inspect, distinct
from sqlalchemy.types import Integer, Text, String, DateTime

### Getting Data from Internet Sources
The code below gets data from the following sources:

1. The census api server is used to get the state population from 2014.


2. The state abbreviations (example Minnesota = MN) is taken from worldpopulationreview.com.  The offer as a JSON and CSV.  However they also show a table on their web page so just grab from that location.  


3.  Craigslist is used to get the cars for sale in different states.  First, the state is queried in craigslist and a list of the cities or regions with listings on Craigslist is extracted.  The city URL is then combined with the car makes of interest ["subaru","honda", "toyota","BMW","mercedes","ford","dodge", "chrysler","chevrolet","chevy"], and the model years are restricted to be from 2010 to 2015.  The data from all cities in the state is combined to give the total for a given model for the year.

### Key Variable List

1. state_pop_df = state name, population, code direct from Census.  Imported by JSON and converted to dataframe.
2. state_list_df = sub set of state_pop_df where state population exceeds 5,000,000 people
3. state_code_df = list of states and abbreviation (example Minnesota = MN) taken from https://worldpopulationreview.com/states/state-abbreviations as a table read from HTML code.
4. state_dict = is a dictionnary created from state_code_df so easy to get state abbreviation.
5. state_car_totals_df = dataframe containing cars makes by state
6. model_list = list of car make names to search on craigslist
7. state_car_db = name of data base setup in PgAdmin

In [2]:
#Getting data from Census Site

census_url = f"https://api.census.gov/data/2014/pep/natstprc?get=STNAME,POP&DATE_=7&for=state:*&key={ckey}"
response = requests.get(census_url).json()

In [3]:
state_pop_df = pd.DataFrame(response[1:], columns = response[0]) #converting response to dataframe
state_pop_df.tail(1) #Puerto Rico has no abbreviation and will not be included in table as is not a state.

                      STNAME      POP DATE_ state
51  Puerto Rico Commonwealth  3548397     7    72

In [4]:
state_pop_df = state_pop_df[state_pop_df['STNAME'] != "Puerto Rico Commonwealth"] #removing Puerto Rico from search
state_pop_df = state_pop_df.drop(['DATE_','state'],axis=1) #removing fields not of interest
state_pop_df["POP"] = pd.to_numeric(state_pop_df["POP"]) #converting population to numeric field
state_list_df = state_pop_df[state_pop_df["POP"]>10000000] #limiting search to states with population over 10M
print(f"Number of states to investigate: {len(state_list_df)}")
state_list_df

Number of states to investigate: 8

          STNAME       POP
4     California  38802500
9        Florida  19893297
10       Georgia  10097343
13      Illinois  12880580
32      New York  19746227
35          Ohio  11594163
38  Pennsylvania  12787209
43         Texas  26956958

In [5]:
#getting state abbreviation codes
pop_review_url ="https://worldpopulationreview.com/states/state-abbreviations"
#setup for splinter
executable_path = {'executable_path': 'c:/bin/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

browser.visit(pop_review_url)
tables = pd.read_html(pop_review_url)
state_code_df = tables[0]
browser.quit()

In [6]:
state_code_df = state_code_df.drop(['Abbreviation'],axis=1) #removing 2nd type of abbreviation, only leaving official USPS code

In [7]:
state_code_df.set_index('State', inplace=True) #putting index as state name rather than number to allow creation of dictionary

In [8]:
#creating dictionary where state name is key and data is USPS abbreviation.
state_dict = state_code_df.to_dict('index')
print(f"Testing Dictionnary")
print(f"Abbreviation for Georgia is: {state_dict['Georgia']['Code']}")

Testing Dictionnary
Abbreviation for Georgia is: GA

In [26]:
#adding abbreviation into state_population table
state_pop_df["Abb"] = state_pop_df.apply(lambda row: state_dict[row.STNAME]['Code'], axis = 1)
state_pop_df.head(3)

    STNAME      POP Abb
0  Alabama  4849377  AL
1   Alaska   736732  AK
2  Arizona  6731484  AZ

In [10]:
## getting info from Craigslist
base_url = "https://geo.craigslist.org/iso/us/" #put short form of state at end to get list of cities in craigslist for state
model_list = ["subaru","honda", "toyota","BMW","mercedes","ford","dodge", "chrysler","chevrolet","chevy"]
state_car_totals_df = pd.DataFrame(columns = ["state", *model_list])
state_car_totals_df
result_dict = {}

In [11]:
#Code for getting total sales by state for each make.  During search will output total number for each state to see program is
#running.

#Code first gets list of city url's for state, then combines city url with search terms to find number of each make for that
#city.  Then combines all make data for cities to find the number of each car type for the state total.

for i in range(0,len(state_list_df)):#iterating through states
    result_dict = {} #clear place holder dictionnary.  Tracks all auto make totals for the state
    State = state_list_df.iloc[i][0] #get state
    State_AB = state_dict[State]['Code'] #get state abbrevation from state_dictionary
    CL_url = base_url+State_AB #creating web address to see available cities
    result_dict["state"] = State #adding current state as first entry into result_dictionary

    CL_response = requests.get(CL_url) #query to get list of cities
    # Create BeautifulSoup object; parse with 'html.parser'
    CL_soup = BeautifulSoup(CL_response.text, 'lxml')
    CL_results = CL_soup.find_all('div', class_="geo-site-list-container")
    CL_results_1 = CL_results[0].find_all('ul')
    CL_results_2 = CL_results_1[0].find_all('li') #this is the list of craiglist website for cities in state
    
    print(f"State: {State_AB}") #printing abbreviation of state
    
    for model in model_list: #iterate through on list of manufacturer
        counter = 0 #counter tracks total number of cars for each maker in state 
        
        for result in CL_results_2: #iterating through cities in state
            CL_url = result.find('a')["href"] #finds general craigslist for city in state
            #if statement below catches an exception where Craigslist gives an incomplete url when suggests a city out
            #of state but close enough to state people may go there to look at cars.  We want to exclude these.
            if CL_url[0:3] == 'htt': #to catch times when includes areas out of state, like Chicago for IN
                CL_url_search = CL_url+f"/search/cta?auto_make_model={model}&min_auto_year=2010&max_auto_year=2015"
                CL_response = requests.get(CL_url_search)
                # Create BeautifulSoup object; parse with 'lxml'
                CL_soup = BeautifulSoup(CL_response.text, 'lxml')
                CL_results = CL_soup.find_all('span', class_="totalcount") #total count is total number of model for sale
                if CL_results == []: #if get nothing returned in search, don't increment counter
                    counter = counter #nothing to add
                    #print(f" {CL_url} has 0 {model}")
                else:
                    counter = int(CL_results[0].text)+counter #if have cars then increment by number found
                    #print(f" {CL_url} has {CL_results[0].text} {model}")
                
        result_dict[model] = counter #add results for that model to dictionary: key is model and value is counter
        print(f"Total number of model {model} in {State} is {counter}")  
    state_car_totals_df = state_car_totals_df.append(result_dict, ignore_index = True) #add completed result_dict for state

State: CA
Total number of model subaru in California is 1102
Total number of model honda in California is 4520
Total number of model toyota in California is 6501
Total number of model BMW in California is 3332
Total number of model mercedes in California is 2152
Total number of model ford in California is 7463
Total number of model dodge in California is 1501
Total number of model chrysler in California is 744
Total number of model chevrolet in California is 4074
Total number of model chevy in California is 818
State: FL
Total number of model subaru in Florida is 198
Total number of model honda in Florida is 1158
Total number of model toyota in Florida is 1621
Total number of model BMW in Florida is 1146
Total number of model mercedes in Florida is 965
Total number of model ford in Florida is 3290
Total number of model dodge in Florida is 970
Total number of model chrysler in Florida is 399
Total number of model chevrolet in Florida is 1897
Total number of model chevy in Florida is 363
State: GA
Total number of model subaru in Georgia is 42
Total number of model honda in Georgia is 428
Total number of model toyota in Georgia is 433
Total number of model BMW in Georgia is 177
Total number of model mercedes in Georgia is 141
Total number of model ford in Georgia is 943
Total number of model dodge in Georgia is 370
Total number of model chrysler in Georgia is 95
Total number of model chevrolet in Georgia is 491
Total number of model chevy in Georgia is 67
State: IL
Total number of model subaru in Illinois is 112
Total number of model honda in Illinois is 450
Total number of model toyota in Illinois is 480
Total number of model BMW in Illinois is 224
Total number of model mercedes in Illinois is 186
Total number of model ford in Illinois is 1297
Total number of model dodge in Illinois is 465
Total number of model chrysler in Illinois is 170
Total number of model chevrolet in Illinois is 756
Total number of model chevy in Illinois is 223
State: NY
Total number of model subaru in New York is 421
Total number of model honda in New York is 691
Total number of model toyota in New York is 631
Total number of model BMW in New York is 542
Total number of model mercedes in New York is 350
Total number of model ford in New York is 1414
Total number of model dodge in New York is 388
Total number of model chrysler in New York is 223
Total number of model chevrolet in New York is 792
Total number of model chevy in New York is 285
State: OH
Total number of model subaru in Ohio is 158
Total number of model honda in Ohio is 457
Total number of model toyota in Ohio is 387
Total number of model BMW in Ohio is 109
Total number of model mercedes in Ohio is 81
Total number of model ford in Ohio is 1303
Total number of model dodge in Ohio is 373
Total number of model chrysler in Ohio is 186
Total number of model chevrolet in Ohio is 846
Total number of model chevy in Ohio is 231
State: PA
Total number of model subaru in Pennsylvania is 192
Total number of model honda in Pennsylvania is 280
Total number of model toyota in Pennsylvania is 314
Total number of model BMW in Pennsylvania is 186
Total number of model mercedes in Pennsylvania is 167
Total number of model ford in Pennsylvania is 1029
Total number of model dodge in Pennsylvania is 246
Total number of model chrysler in Pennsylvania is 105
Total number of model chevrolet in Pennsylvania is 575
Total number of model chevy in Pennsylvania is 119
State: TX
Total number of model subaru in Texas is 165
Total number of model honda in Texas is 1212
Total number of model toyota in Texas is 1899
Total number of model BMW in Texas is 819
Total number of model mercedes in Texas is 776
Total number of model ford in Texas is 4529
Total number of model dodge in Texas is 1175
Total number of model chrysler in Texas is 337
Total number of model chevrolet in Texas is 2561
Total number of model chevy in Texas is 507

In [12]:
#combining chrysler and dodge into one column
#combining chevrolet and chevy into one column
state_car_totals_df["Chrysler_Dodge"]=state_car_totals_df["chrysler"]+state_car_totals_df["dodge"]
state_car_totals_df["Chevrolet"]=state_car_totals_df["chevrolet"]+state_car_totals_df["chevy"]

In [13]:
#after combining drop chrysler, dodge, chevrolet and chevy
state_car_totals_df = state_car_totals_df.drop(['chevrolet','chevy', 'chrysler','dodge'],axis=1)

In [14]:
#outputting data to show table completed.
state_car_totals_df

,state,subaru,honda,toyota,BMW,mercedes,ford,Chrysler_Dodge,Chevrolet
0,California,1102,4520,6501,3332,2152,7463,2245,4892
1,Florida,198,1158,1621,1146,965,3290,1369,2260
2,Georgia,42,428,433,177,141,943,465,558
3,Illinois,112,450,480,224,186,1297,635,979
4,New York,421,691,631,542,350,1414,611,1077
5,Ohio,158,457,387,109,81,1303,559,1077
6,Pennsylvania,192,280,314,186,167,1029,351,694
7,Texas,165,1212,1899,819,776,4529,1512,3068

## Connecting to and writing to SQL database

In [15]:
#defining and creating engine
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/state_car_db')
#checking names of tables contained in sql database
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [18]:
#setting up inspector and confirming table names.  At beginning will be empty
inspector = inspect(engine)
inspector.get_table_names()

[]

In [17]:
#creating session
session = Session(engine)

In [19]:
#writing table of State_Population, also creates the Schema.
state_pop_df.to_sql(
    'State_Population',
    engine,
    if_exists='replace',
    index=True,
    chunksize=500,
    dtype={
        "STNAME": Text,
        "POP": Integer,
        "Abb": Text
        
    }
)

In [20]:
#writing table of State_Car, also creates the Schema.
state_car_totals_df.to_sql(
    'State_Cars',
    engine,
    if_exists='replace',
    index=True,
    chunksize=500,
    dtype={
        "state": Text,
        "subaru": Integer,
        "honda": Integer,
        "toyota": Integer,
        "BMW": Integer,
        "mercedes": Integer,
        "ford": Integer,
        "Chrysler_Dodge": Integer,
        "Chevrolet": Integer
    }
)

In [21]:
#creating primary key from state in State_Population
with engine.connect() as con:
    con.execute('ALTER TABLE "State_Population" ADD PRIMARY KEY ("STNAME");')

In [22]:
#creating primary key from state in State_Cars
with engine.connect() as con:
    con.execute('ALTER TABLE "State_Cars" ADD PRIMARY KEY ("state");')

In [24]:
#After populating tables check they exist
inspector = inspect(engine)
inspector.get_table_names()

['State_Population', 'State_Cars']