In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
from splinter import Browser
import time
from config import ckey, username, password #ckey is key for census database, username and password are for PostgreSQL

### Key Variable List

1. state_pop_df = state name, population, code direct from Census.  Imported by JSON and converted to dataframe.
2. state_list_df = sub set of state_pop_df where state population exceeds 5,000,000 people
3. state_code_df = list of states and abbreviation (example Minnesota = MN) taken from https://worldpopulationreview.com/states/state-abbreviations as a table read from HTML code.
4. state_dict = is a dictionnary created from state_code_df so easy to get state abbreviation.
5. state_car_totals_df = dataframe containing cars makes by state
6. model_list = list of car make names to search on craigslist

In [2]:

#ckey = "f8d91c497f65177f38e048c6cab6476bdd6de05c"
census_url = f"https://api.census.gov/data/2014/pep/natstprc?get=STNAME,POP&DATE_=7&for=state:*&key={ckey}"
response = requests.get(census_url).json()

In [3]:
state_pop_df = pd.DataFrame(response[1:], columns = response[0])

In [5]:
state_pop_df["POP"] = pd.to_numeric(state_pop_df["POP"])
state_list_df = state_pop_df[state_pop_df["POP"]>5000000]
print(f"Number of states to investigate: {len(state_list_df)}")
state_list_df

Number of states to investigate: 22

            STNAME       POP DATE_ state
2          Arizona   6731484     7    04
4       California  38802500     7    06
5         Colorado   5355866     7    08
9          Florida  19893297     7    12
10         Georgia  10097343     7    13
13        Illinois  12880580     7    17
14         Indiana   6596855     7    18
20        Maryland   5976407     7    24
21   Massachusetts   6745408     7    25
22        Michigan   9909877     7    26
23       Minnesota   5457173     7    27
25        Missouri   6063589     7    29
30      New Jersey   8938175     7    34
32        New York  19746227     7    36
33  North Carolina   9943964     7    37
35            Ohio  11594163     7    39
38    Pennsylvania  12787209     7    42
42       Tennessee   6549352     7    47
43           Texas  26956958     7    48
46        Virginia   8326289     7    51
47      Washington   7061530     7    53
49       Wisconsin   5757564     7    55

In [14]:
#getting state abbreviation codes
pop_review_url ="https://worldpopulationreview.com/states/state-abbreviations"
#setup for splinter
executable_path = {'executable_path': 'c:/bin/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)


browser.visit(pop_review_url)
tables = pd.read_html(pop_review_url)
state_code_df = tables[0]
browser.quit()

In [15]:
state_code_df = state_code_df.drop(['Abbreviation'],axis=1)

In [16]:
state_code_df.set_index('State', inplace=True)

In [17]:
state_dict = state_code_df.to_dict('index')
print(f"Testing Dictionnary")
print(f"Abbreviation for Georgia is: {state_dict['Georgia']['Code']}")

Testing Dictionnary
Abbreviation for Georgia is: GA

In [75]:
## getting info from Craigslist
base_url = "https://geo.craigslist.org/iso/us/" #put short form of state at end to get list of cities in craigslist for state
model_list = [
]
state_car_totals_df = pd.DataFrame(columns = ["state", *model_list])
state_car_totals_df
result_dict = {}

In [76]:
for i in range(0,len(state_list_df)):#iterating through states
    result_dict = {} #clear place holder dictionnary
    State = state_list_df.iloc[i][0] #get state
    State_AB = state_dict[State]['Code'] #get state abbrevation
    CL_url = base_url+State_AB #creating web address to see available cities
    result_dict["state"] = State

    CL_response = requests.get(CL_url)
    # Create BeautifulSoup object; parse with 'html.parser'
    CL_soup = BeautifulSoup(CL_response.text, 'lxml')
    CL_results = CL_soup.find_all('div', class_="geo-site-list-container")
    CL_results_1 = CL_results[0].find_all('ul')
    CL_results_2 = CL_results_1[0].find_all('li') #this is the list of craiglist website for cities in state
    
    print(f"State: {State_AB}")
    
    for model in model_list: #iterate through on list of models
        counter = 0
        for result in CL_results_2: #iterating through cities in state
            
            CL_url = result.find('a')["href"] #finds general craigslist for city in state
            if CL_url[0:3] == 'htt': #to catch times when includes areas out of state, like Chicago for IN
                CL_url_search = CL_url+f"/search/cta?auto_make_model={model}&min_auto_year=2010&max_auto_year=2015"
                #print(CL_url_search)
                CL_response = requests.get(CL_url_search)
                # Create BeautifulSoup object; parse with 'html.parser'
                CL_soup = BeautifulSoup(CL_response.text, 'lxml')
                CL_results = CL_soup.find_all('span', class_="totalcount") #total count is total number of model for sale
                #print(CL_results)
                if CL_results == []: #if get nothing returned in search, don't increment counter
                    counter = counter
                    #print(f" {CL_url} has 0 {model}")
                else:
                    counter = int(CL_results[0].text)+counter #if have cars then increment by number found
                    #print(f" {CL_url} has {CL_results[0].text} {model}")
                
        result_dict[model] = counter #add results for that model to dictionary: key is model and value is counter
        print(f"Total number of model {model} in {State} is {counter}")  
    state_car_totals_df = state_car_totals_df.append(result_dict, ignore_index = True)

State: AZ
Total number of model subaru in Arizona is 131
Total number of model honda in Arizona is 877
Total number of model toyota in Arizona is 945
Total number of model BMW in Arizona is 469
Total number of model mercedes in Arizona is 334
Total number of model ford in Arizona is 2099
Total number of model dodge in Arizona is 665
Total number of model chrysler in Arizona is 328
Total number of model chevrolet in Arizona is 1411
Total number of model chevy in Arizona is 224
State: CA
Total number of model subaru in California is 1161
Total number of model honda in California is 4713
Total number of model toyota in California is 6764
Total number of model BMW in California is 3506
Total number of model mercedes in California is 2258
Total number of model ford in California is 7798
Total number of model dodge in California is 1550
Total number of model chrysler in California is 777
Total number of model chevrolet in California is 4260
Total number of model chevy in California is 843
State: CO
Total number of model subaru in Colorado is 782
Total number of model honda in Colorado is 638
Total number of model toyota in Colorado is 980
Total number of model BMW in Colorado is 402
Total number of model mercedes in Colorado is 212
Total number of model ford in Colorado is 2196
Total number of model dodge in Colorado is 482
Total number of model chrysler in Colorado is 148
Total number of model chevrolet in Colorado is 1099
Total number of model chevy in Colorado is 140
State: FL
Total number of model subaru in Florida is 202
Total number of model honda in Florida is 1195
Total number of model toyota in Florida is 1696
Total number of model BMW in Florida is 1186
Total number of model mercedes in Florida is 1013
Total number of model ford in Florida is 3387
Total number of model dodge in Florida is 999
Total number of model chrysler in Florida is 411
Total number of model chevrolet in Florida is 1964
Total number of model chevy in Florida is 372
State: GA
Total number of model subaru in Georgia is 42
Total number of model honda in Georgia is 450
Total number of model toyota in Georgia is 449
Total number of model BMW in Georgia is 183
Total number of model mercedes in Georgia is 144
Total number of model ford in Georgia is 971
Total number of model dodge in Georgia is 387
Total number of model chrysler in Georgia is 100
Total number of model chevrolet in Georgia is 501
Total number of model chevy in Georgia is 68
State: IL
Total number of model subaru in Illinois is 119
Total number of model honda in Illinois is 474
Total number of model toyota in Illinois is 501
Total number of model BMW in Illinois is 234
Total number of model mercedes in Illinois is 196
Total number of model ford in Illinois is 1331
Total number of model dodge in Illinois is 466
Total number of model chrysler in Illinois is 178
Total number of model chevrolet in Illinois is 775
Total number of model chevy in Illinois is 229
State: IN
Total number of model subaru in Indiana is 27
Total number of model honda in Indiana is 122
Total number of model toyota in Indiana is 121
Total number of model BMW in Indiana is 27
Total number of model mercedes in Indiana is 29
Total number of model ford in Indiana is 426
Total number of model dodge in Indiana is 134
Total number of model chrysler in Indiana is 60
Total number of model chevrolet in Indiana is 250
Total number of model chevy in Indiana is 89
State: MD
Total number of model subaru in Maryland is 45
Total number of model honda in Maryland is 167
Total number of model toyota in Maryland is 101
Total number of model BMW in Maryland is 65
Total number of model mercedes in Maryland is 44
Total number of model ford in Maryland is 238
Total number of model dodge in Maryland is 102
Total number of model chrysler in Maryland is 21
Total number of model chevrolet in Maryland is 142
Total number of model chevy in Maryland is 17
State: MA
Total number of model subaru in Massachusetts is 181
Total number of model honda in Massachusetts is 390
Total number of model toyota in Massachusetts is 455
Total number of model BMW in Massachusetts is 207
Total number of model mercedes in Massachusetts is 162
Total number of model ford in Massachusetts is 883
Total number of model dodge in Massachusetts is 131
Total number of model chrysler in Massachusetts is 55
Total number of model chevrolet in Massachusetts is 379
Total number of model chevy in Massachusetts is 100
State: MI
Total number of model subaru in Michigan is 145
Total number of model honda in Michigan is 326
Total number of model toyota in Michigan is 226
Total number of model BMW in Michigan is 156
Total number of model mercedes in Michigan is 151
Total number of model ford in Michigan is 2234
Total number of model dodge in Michigan is 655
Total number of model chrysler in Michigan is 447
Total number of model chevrolet in Michigan is 1306
Total number of model chevy in Michigan is 303
State: MN
Total number of model subaru in Minnesota is 177
Total number of model honda in Minnesota is 475
Total number of model toyota in Minnesota is 415
Total number of model BMW in Minnesota is 185
Total number of model mercedes in Minnesota is 140
Total number of model ford in Minnesota is 1477
Total number of model dodge in Minnesota is 434
Total number of model chrysler in Minnesota is 245
Total number of model chevrolet in Minnesota is 1076
Total number of model chevy in Minnesota is 217
State: MO
Total number of model subaru in Missouri is 91
Total number of model honda in Missouri is 454
Total number of model toyota in Missouri is 436
Total number of model BMW in Missouri is 137
Total number of model mercedes in Missouri is 126
Total number of model ford in Missouri is 1319
Total number of model dodge in Missouri is 377
Total number of model chrysler in Missouri is 149
Total number of model chevrolet in Missouri is 1023
Total number of model chevy in Missouri is 200
State: NJ
Total number of model subaru in New Jersey is 138
Total number of model honda in New Jersey is 376
Total number of model toyota in New Jersey is 300
Total number of model BMW in New Jersey is 258
Total number of model mercedes in New Jersey is 167
Total number of model ford in New Jersey is 687
Total number of model dodge in New Jersey is 143
Total number of model chrysler in New Jersey is 71
Total number of model chevrolet in New Jersey is 297
Total number of model chevy in New Jersey is 55
State: NY
Total number of model subaru in New York is 437
Total number of model honda in New York is 717
Total number of model toyota in New York is 650
Total number of model BMW in New York is 560
Total number of model mercedes in New York is 371
Total number of model ford in New York is 1509
Total number of model dodge in New York is 403
Total number of model chrysler in New York is 230
Total number of model chevrolet in New York is 810
Total number of model chevy in New York is 296
State: NC
Total number of model subaru in North Carolina is 163
Total number of model honda in North Carolina is 520
Total number of model toyota in North Carolina is 555
Total number of model BMW in North Carolina is 220
Total number of model mercedes in North Carolina is 160
Total number of model ford in North Carolina is 1191
Total number of model dodge in North Carolina is 311
Total number of model chrysler in North Carolina is 85
Total number of model chevrolet in North Carolina is 712
Total number of model chevy in North Carolina is 179
State: OH
Total number of model subaru in Ohio is 162
Total number of model honda in Ohio is 469
Total number of model toyota in Ohio is 397
Total number of model BMW in Ohio is 111
Total number of model mercedes in Ohio is 85
Total number of model ford in Ohio is 1347
Total number of model dodge in Ohio is 387
Total number of model chrysler in Ohio is 192
Total number of model chevrolet in Ohio is 869
Total number of model chevy in Ohio is 236
State: PA
Total number of model subaru in Pennsylvania is 197
Total number of model honda in Pennsylvania is 289
Total number of model toyota in Pennsylvania is 318
Total number of model BMW in Pennsylvania is 195
Total number of model mercedes in Pennsylvania is 173
Total number of model ford in Pennsylvania is 1044

Total number of model dodge in Pennsylvania is 253
Total number of model chrysler in Pennsylvania is 108
Total number of model chevrolet in Pennsylvania is 590
Total number of model chevy in Pennsylvania is 123
State: TN
Total number of model subaru in Tennessee is 76
Total number of model honda in Tennessee is 399
Total number of model toyota in Tennessee is 434
Total number of model BMW in Tennessee is 94
Total number of model mercedes in Tennessee is 113
Total number of model ford in Tennessee is 1096
Total number of model dodge in Tennessee is 244
Total number of model chrysler in Tennessee is 86
Total number of model chevrolet in Tennessee is 599
Total number of model chevy in Tennessee is 117
State: TX
Total number of model subaru in Texas is 177
Total number of model honda in Texas is 1271
Total number of model toyota in Texas is 1974
Total number of model BMW in Texas is 849
Total number of model mercedes in Texas is 804
Total number of model ford in Texas is 4720
Total number of model dodge in Texas is 1223
Total number of model chrysler in Texas is 347
Total number of model chevrolet in Texas is 2679
Total number of model chevy in Texas is 524
State: VA
Total number of model subaru in Virginia is 77
Total number of model honda in Virginia is 351
Total number of model toyota in Virginia is 319
Total number of model BMW in Virginia is 123
Total number of model mercedes in Virginia is 94
Total number of model ford in Virginia is 744
Total number of model dodge in Virginia is 232
Total number of model chrysler in Virginia is 84
Total number of model chevrolet in Virginia is 454
Total number of model chevy in Virginia is 74
State: WA
Total number of model subaru in Washington is 994
Total number of model honda in Washington is 1304
Total number of model toyota in Washington is 2068
Total number of model BMW in Washington is 1056
Total number of model mercedes in Washington is 532
Total number of model ford in Washington is 3997
Total number of model dodge in Washington is 1389
Total number of model chrysler in Washington is 377
Total number of model chevrolet in Washington is 2112
Total number of model chevy in Washington is 181
State: WI
Total number of model subaru in Wisconsin is 178
Total number of model honda in Wisconsin is 191
Total number of model toyota in Wisconsin is 310
Total number of model BMW in Wisconsin is 174
Total number of model mercedes in Wisconsin is 178
Total number of model ford in Wisconsin is 1090
Total number of model dodge in Wisconsin is 262
Total number of model chrysler in Wisconsin is 136
Total number of model chevrolet in Wisconsin is 738
Total number of model chevy in Wisconsin is 268

In [77]:
state_car_totals_df

,state,subaru,honda,toyota,BMW,mercedes,ford,dodge,chrysler,chevrolet,chevy
0,Arizona,131,877,945,469,334,2099,665,328,1411,224
1,California,1161,4713,6764,3506,2258,7798,1550,777,4260,843
2,Colorado,782,638,980,402,212,2196,482,148,1099,140
3,Florida,202,1195,1696,1186,1013,3387,999,411,1964,372
4,Georgia,42,450,449,183,144,971,387,100,501,68
5,Illinois,119,474,501,234,196,1331,466,178,775,229
6,Indiana,27,122,121,27,29,426,134,60,250,89
7,Maryland,45,167,101,65,44,238,102,21,142,17
8,Massachusetts,181,390,455,207,162,883,131,55,379,100
9,Michigan,145,326,226,156,151,2234,655,447,1306,303
10,Minnesota,177,475,415,185,140,1477,434,245,1076,217
11,Missouri,91,454,436,137,126,1319,377,149,1023,200
12,New Jersey,138,376,300,258,167,687,143,71,297,55
13,New York,437,717,650,560,371,1509,403,230,810,296
14,North Carolina,163,520,555,220,160,1191,311,85,712,179
15,Ohio,162,469,397,111,85,1347,387,192,869,236
16,Pennsylvania,197,289,318,195,173,1044,253,108,590,123
17,Tennessee,76,399,434,94,113,1096,244,86,599,117
18,Texas,177,1271,1974,849,804,4720,1223,347,2679,524
19,Virginia,77,351,319,123,94,744,232,84,454,74
20,Washington,994,1304,2068,1056,532,3997,1389,377,2112,181
21,Wisconsin,178,191,310,174,178,1090,262,136,738,268

In [78]:
state_car_totals_df["Chrysler_Dodge"]=state_car_totals_df["chrysler"]+state_car_totals_df["dodge"]
state_car_totals_df["Chevrolet"]=state_car_totals_df["chevrolet"]+state_car_totals_df["chevy"]

In [79]:
state_car_totals_df

,state,subaru,honda,toyota,BMW,mercedes,ford,dodge,chrysler,chevrolet,chevy,Chrysler_Dodge,Chevrolet
0,Arizona,131,877,945,469,334,2099,665,328,1411,224,993,1635
1,California,1161,4713,6764,3506,2258,7798,1550,777,4260,843,2327,5103
2,Colorado,782,638,980,402,212,2196,482,148,1099,140,630,1239
3,Florida,202,1195,1696,1186,1013,3387,999,411,1964,372,1410,2336
4,Georgia,42,450,449,183,144,971,387,100,501,68,487,569
5,Illinois,119,474,501,234,196,1331,466,178,775,229,644,1004
6,Indiana,27,122,121,27,29,426,134,60,250,89,194,339
7,Maryland,45,167,101,65,44,238,102,21,142,17,123,159
8,Massachusetts,181,390,455,207,162,883,131,55,379,100,186,479
9,Michigan,145,326,226,156,151,2234,655,447,1306,303,1102,1609
10,Minnesota,177,475,415,185,140,1477,434,245,1076,217,679,1293
11,Missouri,91,454,436,137,126,1319,377,149,1023,200,526,1223
12,New Jersey,138,376,300,258,167,687,143,71,297,55,214,352
13,New York,437,717,650,560,371,1509,403,230,810,296,633,1106
14,North Carolina,163,520,555,220,160,1191,311,85,712,179,396,891
15,Ohio,162,469,397,111,85,1347,387,192,869,236,579,1105
16,Pennsylvania,197,289,318,195,173,1044,253,108,590,123,361,713
17,Tennessee,76,399,434,94,113,1096,244,86,599,117,330,716
18,Texas,177,1271,1974,849,804,4720,1223,347,2679,524,1570,3203
19,Virginia,77,351,319,123,94,744,232,84,454,74,316,528
20,Washington,994,1304,2068,1056,532,3997,1389,377,2112,181,1766,2293
21,Wisconsin,178,191,310,174,178,1090,262,136,738,268,398,1006

In [81]:
state_car_totals_df = state_car_totals_df.drop(['chevrolet','chevy', 'chrysler','dodge'],axis=1)

In [82]:
state_car_totals_df

,state,subaru,honda,toyota,BMW,mercedes,ford,Chrysler_Dodge,Chevrolet
0,Arizona,131,877,945,469,334,2099,993,1635
1,California,1161,4713,6764,3506,2258,7798,2327,5103
2,Colorado,782,638,980,402,212,2196,630,1239
3,Florida,202,1195,1696,1186,1013,3387,1410,2336
4,Georgia,42,450,449,183,144,971,487,569
5,Illinois,119,474,501,234,196,1331,644,1004
6,Indiana,27,122,121,27,29,426,194,339
7,Maryland,45,167,101,65,44,238,123,159
8,Massachusetts,181,390,455,207,162,883,186,479
9,Michigan,145,326,226,156,151,2234,1102,1609
10,Minnesota,177,475,415,185,140,1477,679,1293
11,Missouri,91,454,436,137,126,1319,526,1223
12,New Jersey,138,376,300,258,167,687,214,352
13,New York,437,717,650,560,371,1509,633,1106
14,North Carolina,163,520,555,220,160,1191,396,891
15,Ohio,162,469,397,111,85,1347,579,1105
16,Pennsylvania,197,289,318,195,173,1044,361,713
17,Tennessee,76,399,434,94,113,1096,330,716
18,Texas,177,1271,1974,849,804,4720,1570,3203
19,Virginia,77,351,319,123,94,744,316,528
20,Washington,994,1304,2068,1056,532,3997,1766,2293
21,Wisconsin,178,191,310,174,178,1090,398,1006

In [ ]:
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/state_car_db')

# Checking connection to database by looking at departments
data = engine.execute('SELECT * FROM "State_Abreviations"')
for record in data:
    print(record) #print to make certain getting data in database