In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import time

In [4]:
#setup for splinter
executable_path = {'executable_path': 'c:/bin/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.britannica.com/topic/list-of-state-capitals-in-the-United-States-2119210'
browser.visit(url)
tables = pd.read_html(url)
state_capitals = tables[0].copy()
browser.quit()

In [5]:
state_capitals.head(5)

,state,capital,population of capital: census,population of capital: estimated
0,Alabama,Montgomery,"(2010) 205,764","(2018 est.) 198,218"
1,Alaska,Juneau,"(2010) 31,275","(2018 est.) 32,113"
2,Arizona,Phoenix,"(2010) 1,445,632","(2018 est.) 1,660,272"
3,Arkansas,Little Rock,"(2010) 193,524","(2018 est.) 197,881"
4,California,Sacramento,"(2010) 466,488","(2018 est.) 508,529"

In [15]:
population = []
for i in range(0,len(state_capitals)):
    test = state_capitals.iloc[i][3]
    length = len(test)
    strObj = test[12:length:]
    pop = strObj.replace(",","")
    pop_num = int(pop)
    population.append(pop_num)

In [16]:
state_capitals["Population"]=population
state_capitals.head(50)

,state,capital,population of capital: census,population of capital: estimated,Population
0,Alabama,Montgomery,"(2010) 205,764","(2018 est.) 198,218",198218
1,Alaska,Juneau,"(2010) 31,275","(2018 est.) 32,113",32113
2,Arizona,Phoenix,"(2010) 1,445,632","(2018 est.) 1,660,272",1660272
3,Arkansas,Little Rock,"(2010) 193,524","(2018 est.) 197,881",197881
4,California,Sacramento,"(2010) 466,488","(2018 est.) 508,529",508529
5,Colorado,Denver,"(2010) 600,158","(2018 est.) 716,492",716492
6,Connecticut,Hartford,"(2010) 124,775","(2018 est.) 122,587",122587
7,Delaware,Dover,"(2010) 26,047","(2018 est.) 38,079",38079
8,Florida,Tallahassee,"(2010) 181,376","(2018 est.) 193,551",193551
9,Georgia,Atlanta,"(2010) 420,003","(2018 est.) 498,044",498044
10,Hawaii,Honolulu,"(2010) 337,256","(2018 est.) 347,397",347397
11,Idaho,Boise,"(2010) 206,100","(2018 est.) 228,790",228790
12,Illinois,Springfield,"(2010) 116,250","(2018 est.) 114,694",114694
13,Indiana,Indianapolis,"(2010) 820,445","(2018 est.) 867,125",867125
14,Iowa,Des Moines,"(2010) 203,433","(2018 est.) 216,853",216853
15,Kansas,Topeka,"(2010) 127,473","(2018 est.) 125,904",125904
16,Kentucky,Frankfort,"(2010) 25,527","(2018 est.) 27,679",27679
17,Louisiana,Baton Rouge,"(2010) 229,493","(2018 est.) 221,599",221599
18,Maine,Augusta,"(2010) 19,136","(2018 est.) 18,681",18681
19,Maryland,Annapolis,"(2010) 38,394","(2018 est.) 39,174",39174
20,Massachusetts,Boston,"(2010) 617,594","(2018 est.) 694,583",694583
21,Michigan,Lansing,"(2010) 114,297","(2018 est.) 118,427",118427
22,Minnesota,Saint Paul,"(2010) 285,068","(2018 est.) 307,695",307695
23,Mississippi,Jackson,"(2010) 173,514","(2018 est.) 164,422",164422
24,Missouri,Jefferson City,"(2010) 43,079","(2018 est.) 42,838",42838
25,Montana,Helena,"(2010) 28,190","(2018 est.) 32,315",32315
26,Nebraska,Lincoln,"(2010) 258,379","(2018 est.) 287,401",287401
27,Nevada,Carson City,"(2010) 55,274","(2018 est.) 55,414",55414
28,New Hampshire,Concord,"(2010) 42,695","(2018 est.) 43,412",43412
29,New Jersey,Trenton,"(2010) 84,913","(2018 est.) 83,974",83974
30,New Mexico,Santa Fe,"(2010) 67,947","(2018 est.) 84,612",84612
31,New York,Albany,"(2010) 97,856","(2018 est.) 97,279",97279
32,North Carolina,Raleigh,"(2010) 403,892","(2018 est.) 469,298",469298
33,North Dakota,Bismarck,"(2010) 61,272","(2018 est.) 73,112",73112
34,Ohio,Columbus,"(2010) 787,033","(2018 est.) 892,533",892533
35,Oklahoma,Oklahoma City,"(2010) 579,999","(2018 est.) 649,021",649021
36,Oregon,Salem,"(2010) 154,637","(2018 est.) 173,442",173442
37,Pennsylvania,Harrisburg,"(2010) 49,528","(2018 est.) 49,229",49229
38,Rhode Island,Providence,"(2010) 178,042","(2018 est.) 179,335",179335
39,South Carolina,Columbia,"(2010) 129,272","(2018 est.) 133,451",133451
40,South Dakota,Pierre,"(2010) 13,646","(2018 est.) 13,980",13980
41,Tennessee,Nashville,"(2010) 601,222","(2018 est.) 669,053",669053
42,Texas,Austin,"(2010) 790,390","(2018 est.) 964,254",964254
43,Utah,Salt Lake City,"(2010) 186,440","(2018 est.) 200,591",200591
44,Vermont,Montpelier,"(2010) 7,855","(2018 est.) 7,436",7436
45,Virginia,Richmond,"(2010) 204,214","(2018 est.) 228,783",228783
46,Washington,Olympia,"(2010) 46,478","(2018 est.) 52,555",52555
47,West Virginia,Charleston,"(2010) 51,400","(2018 est.) 47,215",47215
48,Wisconsin,Madison,"(2010) 233,209","(2017 est.) 255,214",255214
49,Wyoming,Cheyenne,"(2010) 64,019","(2018 est.) 63,957",63957

In [17]:
limited_capitals = state_capitals[state_capitals["Population"] > 90000]

In [18]:
len(limited_capitals)

32

In [19]:
capital_list = limited_capitals["capital"].to_list()

In [20]:
# Craigslist data extractopm
#using request and soup
CL_url = "https://minneapolis.craigslist.org/d/cars-trucks/search/cta"
CL_response = requests.get(CL_url)
time.sleep(2)
# Create BeautifulSoup object; parse with 'html.parser'
CL_soup = BeautifulSoup(CL_response.text, 'lxml')
#print(CL_soup)

In [21]:
model_list = ["subaru","honda", "toyota","BMW","mercedes","ford","dodge", "chrysler","chevrolet","chevy"]
city_list = capital_list
model_df = pd.DataFrame()
model_df["Make"]=model_list

for city in city_list:
    
    model_counter = []

    for model in model_list:
        #print(f" {city} and {model}")
        city_strip = city.replace(" ","") #removing spaces in statenames
        if city_strip == "SaintPaul":
            city_strip = "Minneapolis"
        CL_url = f"https://{city_strip}.craigslist.org/search/cta?auto_make_model={model}&min_auto_year=2010&max_auto_year=2015"
        CL_response = requests.get(CL_url)
        # Create BeautifulSoup object; parse with 'html.parser'
        CL_soup = BeautifulSoup(CL_response.text, 'lxml')
        CL_results = CL_soup.find_all('span', class_="totalcount")
        #print(CL_results)
        if CL_results == []:
            counter = 0
        else:
            counter = CL_results[0].text
        model_counter.append(int(counter))
        
    model_df[city]=model_counter

 Montgomery and subaru
[<span class="totalcount">1</span>, <span class="totalcount">1</span>]
 Montgomery and honda
[<span class="totalcount">6</span>, <span class="totalcount">6</span>]
 Montgomery and toyota
[<span class="totalcount">12</span>, <span class="totalcount">12</span>]
 Montgomery and BMW
[<span class="totalcount">3</span>, <span class="totalcount">3</span>]
 Montgomery and mercedes
[<span class="totalcount">1</span>, <span class="totalcount">1</span>]
 Montgomery and ford
[<span class="totalcount">19</span>, <span class="totalcount">19</span>]
 Montgomery and dodge
[<span class="totalcount">7</span>, <span class="totalcount">7</span>]
 Montgomery and chrysler
[]
 Montgomery and chevrolet
[<span class="totalcount">6</span>, <span class="totalcount">6</span>]
 Montgomery and chevy
[<span class="totalcount">1</span>, <span class="totalcount">1</span>]
 Phoenix and subaru
[<span class="totalcount">92</span>, <span class="totalcount">92</span>]
 Phoenix and honda
[<span class="totalcount">734</span>, <span class="totalcount">734</span>]
 Phoenix and toyota
[<span class="totalcount">765</span>, <span class="totalcount">765</span>]
 Phoenix and BMW
[<span class="totalcount">382</span>, <span class="totalcount">382</span>]
 Phoenix and mercedes
[<span class="totalcount">264</span>, <span class="totalcount">264</span>]
 Phoenix and ford
[<span class="totalcount">1654</span>, <span class="totalcount">1654</span>]
 Phoenix and dodge
[<span class="totalcount">530</span>, <span class="totalcount">530</span>]
 Phoenix and chrysler
[<span class="totalcount">255</span>, <span class="totalcount">255</span>]
 Phoenix and chevrolet
[<span class="totalcount">1058</span>, <span class="totalcount">1058</span>]
 Phoenix and chevy
[<span class="totalcount">176</span>, <span class="totalcount">176</span>]
 Little Rock and subaru
[<span class="totalcount">2</span>, <span class="totalcount">2</span>]
 Little Rock and honda
[<span class="totalcount">32</span>, <span class="totalcount">32</span>]
 Little Rock and toyota
[<span class="totalcount">20</span>, <span class="totalcount">20</span>]
 Little Rock and BMW
[<span class="totalcount">10</span>, <span class="totalcount">10</span>]
 Little Rock and mercedes
[<span class="totalcount">6</span>, <span class="totalcount">6</span>]
 Little Rock and ford
[<span class="totalcount">121</span>, <span class="totalcount">121</span>]
 Little Rock and dodge
[<span class="totalcount">26</span>, <span class="totalcount">26</span>]
 Little Rock and chrysler
[<span class="totalcount">9</span>, <span class="totalcount">9</span>]
 Little Rock and chevrolet
[<span class="totalcount">77</span>, <span class="totalcount">77</span>]
 Little Rock and chevy
[<span class="totalcount">13</span>, <span class="totalcount">13</span>]
 Sacramento and subaru
[<span class="totalcount">288</span>, <span class="totalcount">288</span>]
 Sacramento and honda
[<span class="totalcount">680</span>, <span class="totalcount">680</span>]
 Sacramento and toyota
[<span class="totalcount">1065</span>, <span class="totalcount">1065</span>]
 Sacramento and BMW
[<span class="totalcount">700</span>, <span class="totalcount">700</span>]
 Sacramento and mercedes
[<span class="totalcount">438</span>, <span class="totalcount">438</span>]
 Sacramento and ford
[<span class="totalcount">1293</span>, <span class="totalcount">1293</span>]
 Sacramento and dodge
[<span class="totalcount">239</span>, <span class="totalcount">239</span>]
 Sacramento and chrysler
[<span class="totalcount">79</span>, <span class="totalcount">79</span>]
 Sacramento and chevrolet
[<span class="totalcount">548</span>, <span class="totalcount">548</span>]
 Sacramento and chevy
[<span class="totalcount">110</span>, <span class="totalcount">110</span>]
 Denver and subaru
[<span class="totalcount">630</span>, <span class="totalcount">630</span>]
 Denver and honda
[<span class="totalcount">450</span>, <span class="totalcount">450</span>]
 Denver and toyota
[<span class="totalcount">705</span>, <span class="totalcount">705</span>]
 Denver and BMW
[<span class="totalcount">326</span>, <span class="totalcount">326</span>]
 Denver and mercedes
[<span class="totalcount">200</span>, <span class="totalcount">200</span>]
 Denver and ford
[<span class="totalcount">1601</span>, <span class="totalcount">1601</span>]
 Denver and dodge
[<span class="totalcount">319</span>, <span class="totalcount">319</span>]
 Denver and chrysler
[<span class="totalcount">96</span>, <span class="totalcount">96</span>]
 Denver and chevrolet
[<span class="totalcount">817</span>, <span class="totalcount">817</span>]
 Denver and chevy
[<span class="totalcount">83</span>, <span class="totalcount">83</span>]
 Hartford and subaru
[<span class="totalcount">43</span>, <span class="totalcount">43</span>]
 Hartford and honda
[<span class="totalcount">75</span>, <span class="totalcount">75</span>]
 Hartford and toyota
[<span class="totalcount">69</span>, <span class="totalcount">69</span>]
 Hartford and BMW
[<span class="totalcount">45</span>, <span class="totalcount">45</span>]
 Hartford and mercedes
[<span class="totalcount">31</span>, <span class="totalcount">31</span>]
 Hartford and ford
[<span class="totalcount">143</span>, <span class="totalcount">143</span>]
 Hartford and dodge
[<span class="totalcount">33</span>, <span class="totalcount">33</span>]
 Hartford and chrysler
[<span class="totalcount">17</span>, <span class="totalcount">17</span>]
 Hartford and chevrolet
[<span class="totalcount">89</span>, <span class="totalcount">89</span>]
 Hartford and chevy
[<span class="totalcount">14</span>, <span class="totalcount">14</span>]
 Tallahassee and subaru
[<span class="totalcount">3</span>, <span class="totalcount">3</span>]
 Tallahassee and honda
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Tallahassee and toyota
[<span class="totalcount">20</span>, <span class="totalcount">20</span>]
 Tallahassee and BMW
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Tallahassee and mercedes
[<span class="totalcount">8</span>, <span class="totalcount">8</span>]
 Tallahassee and ford
[<span class="totalcount">62</span>, <span class="totalcount">62</span>]
 Tallahassee and dodge
[<span class="totalcount">18</span>, <span class="totalcount">18</span>]
 Tallahassee and chrysler
[<span class="totalcount">1</span>, <span class="totalcount">1</span>]
 Tallahassee and chevrolet
[<span class="totalcount">20</span>, <span class="totalcount">20</span>]
 Tallahassee and chevy
[<span class="totalcount">10</span>, <span class="totalcount">10</span>]
 Atlanta and subaru
[<span class="totalcount">36</span>, <span class="totalcount">36</span>]
 Atlanta and honda
[<span class="totalcount">360</span>, <span class="totalcount">360</span>]
 Atlanta and toyota
[<span class="totalcount">382</span>, <span class="totalcount">382</span>]
 Atlanta and BMW
[<span class="totalcount">140</span>, <span class="totalcount">140</span>]
 Atlanta and mercedes
[<span class="totalcount">123</span>, <span class="totalcount">123</span>]
 Atlanta and ford
[<span class="totalcount">719</span>, <span class="totalcount">719</span>]
 Atlanta and dodge
[<span class="totalcount">307</span>, <span class="totalcount">307</span>]
 Atlanta and chrysler
[<span class="totalcount">85</span>, <span class="totalcount">85</span>]
 Atlanta and chevrolet
[<span class="totalcount">386</span>, <span class="totalcount">386</span>]
 Atlanta and chevy
[<span class="totalcount">49</span>, <span class="totalcount">49</span>]
 Honolulu and subaru
[<span class="totalcount">50</span>, <span class="totalcount">50</span>]
 Honolulu and honda
[<span class="totalcount">332</span>, <span class="totalcount">332</span>]
 Honolulu and toyota
[<span class="totalcount">583</span>, <span class="totalcount">583</span>]
 Honolulu and BMW
[<span class="totalcount">168</span>, <span class="totalcount">168</span>]
 Honolulu and mercedes
[<span class="totalcount">147</span>, <span class="totalcount">147</span>]
 Honolulu and ford
[<span class="totalcount">505</span>, <span class="totalcount">505</span>]
 Honolulu and dodge
[<span class="totalcount">178</span>, <span class="totalcount">178</span>]
 Honolulu and chrysler

[<span class="totalcount">57</span>, <span class="totalcount">57</span>]
 Honolulu and chevrolet
[<span class="totalcount">262</span>, <span class="totalcount">262</span>]
 Honolulu and chevy
[<span class="totalcount">41</span>, <span class="totalcount">41</span>]
 Boise and subaru
[<span class="totalcount">82</span>, <span class="totalcount">82</span>]
 Boise and honda
[<span class="totalcount">180</span>, <span class="totalcount">180</span>]
 Boise and toyota
[<span class="totalcount">196</span>, <span class="totalcount">196</span>]
 Boise and BMW
[<span class="totalcount">95</span>, <span class="totalcount">95</span>]
 Boise and mercedes
[<span class="totalcount">87</span>, <span class="totalcount">87</span>]
 Boise and ford
[<span class="totalcount">584</span>, <span class="totalcount">584</span>]
 Boise and dodge
[<span class="totalcount">156</span>, <span class="totalcount">156</span>]
 Boise and chrysler
[<span class="totalcount">54</span>, <span class="totalcount">54</span>]
 Boise and chevrolet
[<span class="totalcount">328</span>, <span class="totalcount">328</span>]
 Boise and chevy
[<span class="totalcount">34</span>, <span class="totalcount">34</span>]
 Springfield and subaru
[<span class="totalcount">11</span>, <span class="totalcount">11</span>]
 Springfield and honda
[<span class="totalcount">37</span>, <span class="totalcount">37</span>]
 Springfield and toyota
[<span class="totalcount">42</span>, <span class="totalcount">42</span>]
 Springfield and BMW
[<span class="totalcount">16</span>, <span class="totalcount">16</span>]
 Springfield and mercedes
[<span class="totalcount">12</span>, <span class="totalcount">12</span>]
 Springfield and ford
[<span class="totalcount">116</span>, <span class="totalcount">116</span>]
 Springfield and dodge
[<span class="totalcount">41</span>, <span class="totalcount">41</span>]
 Springfield and chrysler
[<span class="totalcount">16</span>, <span class="totalcount">16</span>]
 Springfield and chevrolet
[<span class="totalcount">136</span>, <span class="totalcount">136</span>]
 Springfield and chevy
[<span class="totalcount">25</span>, <span class="totalcount">25</span>]
 Indianapolis and subaru
[<span class="totalcount">15</span>, <span class="totalcount">15</span>]
 Indianapolis and honda
[<span class="totalcount">52</span>, <span class="totalcount">52</span>]
 Indianapolis and toyota
[<span class="totalcount">47</span>, <span class="totalcount">47</span>]
 Indianapolis and BMW
[<span class="totalcount">16</span>, <span class="totalcount">16</span>]
 Indianapolis and mercedes
[<span class="totalcount">12</span>, <span class="totalcount">12</span>]
 Indianapolis and ford
[<span class="totalcount">189</span>, <span class="totalcount">189</span>]
 Indianapolis and dodge
[<span class="totalcount">49</span>, <span class="totalcount">49</span>]
 Indianapolis and chrysler
[<span class="totalcount">26</span>, <span class="totalcount">26</span>]
 Indianapolis and chevrolet
[<span class="totalcount">86</span>, <span class="totalcount">86</span>]
 Indianapolis and chevy
[<span class="totalcount">31</span>, <span class="totalcount">31</span>]
 Des Moines and subaru
[<span class="totalcount">24</span>, <span class="totalcount">24</span>]
 Des Moines and honda
[<span class="totalcount">43</span>, <span class="totalcount">43</span>]
 Des Moines and toyota
[<span class="totalcount">69</span>, <span class="totalcount">69</span>]
 Des Moines and BMW
[<span class="totalcount">28</span>, <span class="totalcount">28</span>]
 Des Moines and mercedes
[<span class="totalcount">25</span>, <span class="totalcount">25</span>]
 Des Moines and ford
[<span class="totalcount">298</span>, <span class="totalcount">298</span>]
 Des Moines and dodge
[<span class="totalcount">88</span>, <span class="totalcount">88</span>]
 Des Moines and chrysler
[<span class="totalcount">38</span>, <span class="totalcount">38</span>]
 Des Moines and chevrolet
[<span class="totalcount">271</span>, <span class="totalcount">271</span>]
 Des Moines and chevy
[<span class="totalcount">53</span>, <span class="totalcount">53</span>]
 Topeka and subaru
[<span class="totalcount">3</span>, <span class="totalcount">3</span>]
 Topeka and honda
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Topeka and toyota
[<span class="totalcount">13</span>, <span class="totalcount">13</span>]
 Topeka and BMW
[]
 Topeka and mercedes
[<span class="totalcount">1</span>, <span class="totalcount">1</span>]
 Topeka and ford
[<span class="totalcount">24</span>, <span class="totalcount">24</span>]
 Topeka and dodge
[<span class="totalcount">7</span>, <span class="totalcount">7</span>]
 Topeka and chrysler
[<span class="totalcount">2</span>, <span class="totalcount">2</span>]
 Topeka and chevrolet
[<span class="totalcount">29</span>, <span class="totalcount">29</span>]
 Topeka and chevy
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Baton Rouge and subaru
[]
 Baton Rouge and honda
[<span class="totalcount">16</span>, <span class="totalcount">16</span>]
 Baton Rouge and toyota
[<span class="totalcount">37</span>, <span class="totalcount">37</span>]
 Baton Rouge and BMW
[<span class="totalcount">10</span>, <span class="totalcount">10</span>]
 Baton Rouge and mercedes
[<span class="totalcount">11</span>, <span class="totalcount">11</span>]
 Baton Rouge and ford
[<span class="totalcount">49</span>, <span class="totalcount">49</span>]
 Baton Rouge and dodge
[<span class="totalcount">10</span>, <span class="totalcount">10</span>]
 Baton Rouge and chrysler
[<span class="totalcount">6</span>, <span class="totalcount">6</span>]
 Baton Rouge and chevrolet
[<span class="totalcount">29</span>, <span class="totalcount">29</span>]
 Baton Rouge and chevy
[<span class="totalcount">3</span>, <span class="totalcount">3</span>]
 Boston and subaru
[<span class="totalcount">117</span>, <span class="totalcount">117</span>]
 Boston and honda
[<span class="totalcount">278</span>, <span class="totalcount">278</span>]
 Boston and toyota
[<span class="totalcount">300</span>, <span class="totalcount">300</span>]
 Boston and BMW
[<span class="totalcount">144</span>, <span class="totalcount">144</span>]
 Boston and mercedes
[<span class="totalcount">138</span>, <span class="totalcount">138</span>]
 Boston and ford
[<span class="totalcount">632</span>, <span class="totalcount">632</span>]
 Boston and dodge
[<span class="totalcount">79</span>, <span class="totalcount">79</span>]
 Boston and chrysler
[<span class="totalcount">45</span>, <span class="totalcount">45</span>]
 Boston and chevrolet
[<span class="totalcount">224</span>, <span class="totalcount">224</span>]
 Boston and chevy
[<span class="totalcount">61</span>, <span class="totalcount">61</span>]
 Lansing and subaru
[<span class="totalcount">2</span>, <span class="totalcount">2</span>]
 Lansing and honda
[<span class="totalcount">7</span>, <span class="totalcount">7</span>]
 Lansing and toyota
[<span class="totalcount">13</span>, <span class="totalcount">13</span>]
 Lansing and BMW
[<span class="totalcount">3</span>, <span class="totalcount">3</span>]
 Lansing and mercedes
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Lansing and ford
[<span class="totalcount">114</span>, <span class="totalcount">114</span>]
 Lansing and dodge
[<span class="totalcount">21</span>, <span class="totalcount">21</span>]
 Lansing and chrysler
[<span class="totalcount">18</span>, <span class="totalcount">18</span>]
 Lansing and chevrolet
[<span class="totalcount">54</span>, <span class="totalcount">54</span>]
 Lansing and chevy
[<span class="totalcount">29</span>, <span class="totalcount">29</span>]
 Saint Paul and subaru
[<span class="totalcount">131</span>, <span class="totalcount">131</span>]
 Saint Paul and honda
[<span class="totalcount">406</span>, <span class="totalcount">406</span>]
 Saint Paul and toyota
[<span class="totalcount">334</span>, <span class="totalcount">334</span>]
 Saint Paul and BMW
[<span class="totalcount">137</span>, <span class="totalcount">137</span>]
 Saint Paul and mercedes
[<span class="totalcount">102</span>, <span class="totalcount">102</span>]
 Saint Paul and ford

[<span class="totalcount">1095</span>, <span class="totalcount">1095</span>]
 Saint Paul and dodge
[<span class="totalcount">295</span>, <span class="totalcount">295</span>]
 Saint Paul and chrysler
[<span class="totalcount">174</span>, <span class="totalcount">174</span>]
 Saint Paul and chevrolet
[<span class="totalcount">744</span>, <span class="totalcount">744</span>]
 Saint Paul and chevy
[<span class="totalcount">131</span>, <span class="totalcount">131</span>]
 Jackson and subaru
[]
 Jackson and honda
[<span class="totalcount">7</span>, <span class="totalcount">7</span>]
 Jackson and toyota
[<span class="totalcount">24</span>, <span class="totalcount">24</span>]
 Jackson and BMW
[<span class="totalcount">2</span>, <span class="totalcount">2</span>]
 Jackson and mercedes
[<span class="totalcount">3</span>, <span class="totalcount">3</span>]
 Jackson and ford
[<span class="totalcount">29</span>, <span class="totalcount">29</span>]
 Jackson and dodge
[<span class="totalcount">19</span>, <span class="totalcount">19</span>]
 Jackson and chrysler
[<span class="totalcount">10</span>, <span class="totalcount">10</span>]
 Jackson and chevrolet
[<span class="totalcount">16</span>, <span class="totalcount">16</span>]
 Jackson and chevy
[<span class="totalcount">2</span>, <span class="totalcount">2</span>]
 Lincoln and subaru
[<span class="totalcount">16</span>, <span class="totalcount">16</span>]
 Lincoln and honda
[<span class="totalcount">13</span>, <span class="totalcount">13</span>]
 Lincoln and toyota
[<span class="totalcount">25</span>, <span class="totalcount">25</span>]
 Lincoln and BMW
[<span class="totalcount">24</span>, <span class="totalcount">24</span>]
 Lincoln and mercedes
[<span class="totalcount">18</span>, <span class="totalcount">18</span>]
 Lincoln and ford
[<span class="totalcount">133</span>, <span class="totalcount">133</span>]
 Lincoln and dodge
[<span class="totalcount">33</span>, <span class="totalcount">33</span>]
 Lincoln and chrysler
[<span class="totalcount">11</span>, <span class="totalcount">11</span>]
 Lincoln and chevrolet
[<span class="totalcount">95</span>, <span class="totalcount">95</span>]
 Lincoln and chevy
[<span class="totalcount">30</span>, <span class="totalcount">30</span>]
 Albany and subaru
[<span class="totalcount">41</span>, <span class="totalcount">41</span>]
 Albany and honda
[<span class="totalcount">58</span>, <span class="totalcount">58</span>]
 Albany and toyota
[<span class="totalcount">33</span>, <span class="totalcount">33</span>]
 Albany and BMW
[<span class="totalcount">52</span>, <span class="totalcount">52</span>]
 Albany and mercedes
[<span class="totalcount">28</span>, <span class="totalcount">28</span>]
 Albany and ford
[<span class="totalcount">149</span>, <span class="totalcount">149</span>]
 Albany and dodge
[<span class="totalcount">33</span>, <span class="totalcount">33</span>]
 Albany and chrysler
[<span class="totalcount">17</span>, <span class="totalcount">17</span>]
 Albany and chevrolet
[<span class="totalcount">77</span>, <span class="totalcount">77</span>]
 Albany and chevy
[<span class="totalcount">18</span>, <span class="totalcount">18</span>]
 Raleigh and subaru
[<span class="totalcount">39</span>, <span class="totalcount">39</span>]
 Raleigh and honda
[<span class="totalcount">176</span>, <span class="totalcount">176</span>]
 Raleigh and toyota
[<span class="totalcount">174</span>, <span class="totalcount">174</span>]
 Raleigh and BMW
[<span class="totalcount">54</span>, <span class="totalcount">54</span>]
 Raleigh and mercedes
[<span class="totalcount">43</span>, <span class="totalcount">43</span>]
 Raleigh and ford
[<span class="totalcount">341</span>, <span class="totalcount">341</span>]
 Raleigh and dodge
[<span class="totalcount">79</span>, <span class="totalcount">79</span>]
 Raleigh and chrysler
[<span class="totalcount">29</span>, <span class="totalcount">29</span>]
 Raleigh and chevrolet
[<span class="totalcount">155</span>, <span class="totalcount">155</span>]
 Raleigh and chevy
[<span class="totalcount">59</span>, <span class="totalcount">59</span>]
 Columbus and subaru
[<span class="totalcount">45</span>, <span class="totalcount">45</span>]
 Columbus and honda
[<span class="totalcount">81</span>, <span class="totalcount">81</span>]
 Columbus and toyota
[<span class="totalcount">113</span>, <span class="totalcount">113</span>]
 Columbus and BMW
[<span class="totalcount">32</span>, <span class="totalcount">32</span>]
 Columbus and mercedes
[<span class="totalcount">17</span>, <span class="totalcount">17</span>]
 Columbus and ford
[<span class="totalcount">288</span>, <span class="totalcount">288</span>]
 Columbus and dodge
[<span class="totalcount">65</span>, <span class="totalcount">65</span>]
 Columbus and chrysler
[<span class="totalcount">37</span>, <span class="totalcount">37</span>]
 Columbus and chevrolet
[<span class="totalcount">162</span>, <span class="totalcount">162</span>]
 Columbus and chevy
[<span class="totalcount">36</span>, <span class="totalcount">36</span>]
 Oklahoma City and subaru
[<span class="totalcount">17</span>, <span class="totalcount">17</span>]
 Oklahoma City and honda
[<span class="totalcount">88</span>, <span class="totalcount">88</span>]
 Oklahoma City and toyota
[<span class="totalcount">93</span>, <span class="totalcount">93</span>]
 Oklahoma City and BMW
[<span class="totalcount">62</span>, <span class="totalcount">62</span>]
 Oklahoma City and mercedes
[<span class="totalcount">26</span>, <span class="totalcount">26</span>]
 Oklahoma City and ford
[<span class="totalcount">400</span>, <span class="totalcount">400</span>]
 Oklahoma City and dodge
[<span class="totalcount">132</span>, <span class="totalcount">132</span>]
 Oklahoma City and chrysler
[<span class="totalcount">41</span>, <span class="totalcount">41</span>]
 Oklahoma City and chevrolet
[<span class="totalcount">277</span>, <span class="totalcount">277</span>]
 Oklahoma City and chevy
[<span class="totalcount">50</span>, <span class="totalcount">50</span>]
 Salem and subaru
[<span class="totalcount">74</span>, <span class="totalcount">74</span>]
 Salem and honda
[<span class="totalcount">128</span>, <span class="totalcount">128</span>]
 Salem and toyota
[<span class="totalcount">124</span>, <span class="totalcount">124</span>]
 Salem and BMW
[<span class="totalcount">51</span>, <span class="totalcount">51</span>]
 Salem and mercedes
[<span class="totalcount">41</span>, <span class="totalcount">41</span>]
 Salem and ford
[<span class="totalcount">304</span>, <span class="totalcount">304</span>]
 Salem and dodge
[<span class="totalcount">109</span>, <span class="totalcount">109</span>]
 Salem and chrysler
[<span class="totalcount">36</span>, <span class="totalcount">36</span>]
 Salem and chevrolet
[<span class="totalcount">222</span>, <span class="totalcount">222</span>]
 Salem and chevy
[<span class="totalcount">5</span>, <span class="totalcount">5</span>]
 Providence and subaru
[<span class="totalcount">21</span>, <span class="totalcount">21</span>]
 Providence and honda
[<span class="totalcount">55</span>, <span class="totalcount">55</span>]
 Providence and toyota
[<span class="totalcount">95</span>, <span class="totalcount">95</span>]
 Providence and BMW
[<span class="totalcount">35</span>, <span class="totalcount">35</span>]
 Providence and mercedes
[<span class="totalcount">17</span>, <span class="totalcount">17</span>]
 Providence and ford
[<span class="totalcount">132</span>, <span class="totalcount">132</span>]
 Providence and dodge
[<span class="totalcount">30</span>, <span class="totalcount">30</span>]
 Providence and chrysler
[<span class="totalcount">15</span>, <span class="totalcount">15</span>]
 Providence and chevrolet
[<span class="totalcount">80</span>, <span class="totalcount">80</span>]
 Providence and chevy
[<span class="totalcount">8</span>, <span class="totalcount">8</span>]
 Columbia and subaru
[<span class="totalcount">6</span>, <span class="totalcount">6</span>]
 Columbia and honda
[<span class="totalcount">28</span>, <span class="totalcount">28</span>]
 Columbia and toyota
[<span class="totalcount">30</span>, <span class="totalcount">30</span>]
 Columbia and BMW

[<span class="totalcount">15</span>, <span class="totalcount">15</span>]
 Columbia and mercedes
[<span class="totalcount">10</span>, <span class="totalcount">10</span>]
 Columbia and ford
[<span class="totalcount">89</span>, <span class="totalcount">89</span>]
 Columbia and dodge
[<span class="totalcount">20</span>, <span class="totalcount">20</span>]
 Columbia and chrysler
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Columbia and chevrolet
[<span class="totalcount">32</span>, <span class="totalcount">32</span>]
 Columbia and chevy
[<span class="totalcount">10</span>, <span class="totalcount">10</span>]
 Nashville and subaru
[<span class="totalcount">29</span>, <span class="totalcount">29</span>]
 Nashville and honda
[<span class="totalcount">174</span>, <span class="totalcount">174</span>]
 Nashville and toyota
[<span class="totalcount">214</span>, <span class="totalcount">214</span>]
 Nashville and BMW
[<span class="totalcount">45</span>, <span class="totalcount">45</span>]
 Nashville and mercedes
[<span class="totalcount">48</span>, <span class="totalcount">48</span>]
 Nashville and ford
[<span class="totalcount">509</span>, <span class="totalcount">509</span>]
 Nashville and dodge
[<span class="totalcount">116</span>, <span class="totalcount">116</span>]
 Nashville and chrysler
[<span class="totalcount">40</span>, <span class="totalcount">40</span>]
 Nashville and chevrolet
[<span class="totalcount">284</span>, <span class="totalcount">284</span>]
 Nashville and chevy
[<span class="totalcount">40</span>, <span class="totalcount">40</span>]
 Austin and subaru
[<span class="totalcount">31</span>, <span class="totalcount">31</span>]
 Austin and honda
[<span class="totalcount">193</span>, <span class="totalcount">193</span>]
 Austin and toyota
[<span class="totalcount">244</span>, <span class="totalcount">244</span>]
 Austin and BMW
[<span class="totalcount">83</span>, <span class="totalcount">83</span>]
 Austin and mercedes
[<span class="totalcount">50</span>, <span class="totalcount">50</span>]
 Austin and ford
[<span class="totalcount">369</span>, <span class="totalcount">369</span>]
 Austin and dodge
[<span class="totalcount">98</span>, <span class="totalcount">98</span>]
 Austin and chrysler
[<span class="totalcount">37</span>, <span class="totalcount">37</span>]
 Austin and chevrolet
[<span class="totalcount">234</span>, <span class="totalcount">234</span>]
 Austin and chevy
[<span class="totalcount">41</span>, <span class="totalcount">41</span>]
 Salt Lake City and subaru
[<span class="totalcount">6</span>, <span class="totalcount">6</span>]
 Salt Lake City and honda
[<span class="totalcount">7</span>, <span class="totalcount">7</span>]
 Salt Lake City and toyota
[<span class="totalcount">8</span>, <span class="totalcount">8</span>]
 Salt Lake City and BMW
[<span class="totalcount">3</span>, <span class="totalcount">3</span>]
 Salt Lake City and mercedes
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Salt Lake City and ford
[<span class="totalcount">18</span>, <span class="totalcount">18</span>]
 Salt Lake City and dodge
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Salt Lake City and chrysler
[<span class="totalcount">4</span>, <span class="totalcount">4</span>]
 Salt Lake City and chevrolet
[<span class="totalcount">6</span>, <span class="totalcount">6</span>]
 Salt Lake City and chevy
[<span class="totalcount">3</span>, <span class="totalcount">3</span>]
 Richmond and subaru
[<span class="totalcount">17</span>, <span class="totalcount">17</span>]
 Richmond and honda
[<span class="totalcount">74</span>, <span class="totalcount">74</span>]
 Richmond and toyota
[<span class="totalcount">55</span>, <span class="totalcount">55</span>]
 Richmond and BMW
[<span class="totalcount">29</span>, <span class="totalcount">29</span>]
 Richmond and mercedes
[<span class="totalcount">22</span>, <span class="totalcount">22</span>]
 Richmond and ford
[<span class="totalcount">179</span>, <span class="totalcount">179</span>]
 Richmond and dodge
[<span class="totalcount">45</span>, <span class="totalcount">45</span>]
 Richmond and chrysler
[<span class="totalcount">16</span>, <span class="totalcount">16</span>]
 Richmond and chevrolet
[<span class="totalcount">78</span>, <span class="totalcount">78</span>]
 Richmond and chevy
[<span class="totalcount">9</span>, <span class="totalcount">9</span>]
 Madison and subaru
[<span class="totalcount">53</span>, <span class="totalcount">53</span>]
 Madison and honda
[<span class="totalcount">62</span>, <span class="totalcount">62</span>]
 Madison and toyota
[<span class="totalcount">85</span>, <span class="totalcount">85</span>]
 Madison and BMW
[<span class="totalcount">41</span>, <span class="totalcount">41</span>]
 Madison and mercedes
[<span class="totalcount">40</span>, <span class="totalcount">40</span>]
 Madison and ford
[<span class="totalcount">184</span>, <span class="totalcount">184</span>]
 Madison and dodge
[<span class="totalcount">48</span>, <span class="totalcount">48</span>]
 Madison and chrysler
[<span class="totalcount">21</span>, <span class="totalcount">21</span>]
 Madison and chevrolet
[<span class="totalcount">129</span>, <span class="totalcount">129</span>]
 Madison and chevy
[<span class="totalcount">51</span>, <span class="totalcount">51</span>]

In [38]:
final_df = model_df.transpose(copy = True)
final_df.columns = final_df.iloc[0]
final_df = final_df.drop(final_df.index[0])
final_df.head(50)

Make,subaru,honda,toyota,BMW,mercedes,ford,dodge,chrysler,chevrolet,chevy
Montgomery,1,6,12,3,1,19,7,0,6,1
Phoenix,92,734,765,382,264,1654,530,255,1058,176
Little Rock,2,32,20,10,6,121,26,9,77,13
Sacramento,288,680,1065,700,438,1293,239,79,548,110
Denver,630,450,705,326,200,1601,319,96,817,83
Hartford,43,75,69,45,31,143,33,17,89,14
Tallahassee,3,4,20,4,8,62,18,1,20,10
Atlanta,36,360,382,140,123,719,307,85,386,49
Honolulu,50,332,583,168,147,505,178,57,262,41
Boise,82,180,196,95,87,584,156,54,328,34
Springfield,11,37,42,16,12,116,41,16,136,25
Indianapolis,15,52,47,16,12,189,49,26,86,31
Des Moines,24,43,69,28,25,298,88,38,271,53
Topeka,3,4,13,0,1,24,7,2,29,4
Baton Rouge,0,16,37,10,11,49,10,6,29,3
Boston,117,278,300,144,138,632,79,45,224,61
Lansing,2,7,13,3,4,114,21,18,54,29
Saint Paul,131,406,334,137,102,1095,295,174,744,131
Jackson,0,7,24,2,3,29,19,10,16,2
Lincoln,16,13,25,24,18,133,33,11,95,30
Albany,41,58,33,52,28,149,33,17,77,18
Raleigh,39,176,174,54,43,341,79,29,155,59
Columbus,45,81,113,32,17,288,65,37,162,36
Oklahoma City,17,88,93,62,26,400,132,41,277,50
Salem,74,128,124,51,41,304,109,36,222,5
Providence,21,55,95,35,17,132,30,15,80,8
Columbia,6,28,30,15,10,89,20,4,32,10
Nashville,29,174,214,45,48,509,116,40,284,40
Austin,31,193,244,83,50,369,98,37,234,41
Salt Lake City,6,7,8,3,4,18,4,4,6,3
Richmond,17,74,55,29,22,179,45,16,78,9
Madison,53,62,85,41,40,184,48,21,129,51

In [39]:
final_df["Chrysler_Dodge"]=final_df["chrysler"]+final_df["dodge"]

In [40]:
final_df["Chevrolet"]=final_df["chevrolet"]+final_df["chevy"]

In [41]:
final_df.head()

Make,subaru,honda,toyota,BMW,mercedes,ford,dodge,chrysler,chevrolet,chevy,Chrysler_Dodge,Chevrolet
Montgomery,1,6,12,3,1,19,7,0,6,1,7,7
Phoenix,92,734,765,382,264,1654,530,255,1058,176,785,1234
Little Rock,2,32,20,10,6,121,26,9,77,13,35,90
Sacramento,288,680,1065,700,438,1293,239,79,548,110,318,658
Denver,630,450,705,326,200,1601,319,96,817,83,415,900

In [42]:
final_df = final_df.drop(['chevrolet','chevy', 'chrysler','dodge'],axis=1)

In [43]:
final_df

Make,subaru,honda,toyota,BMW,mercedes,ford,Chrysler_Dodge,Chevrolet
Montgomery,1,6,12,3,1,19,7,7
Phoenix,92,734,765,382,264,1654,785,1234
Little Rock,2,32,20,10,6,121,35,90
Sacramento,288,680,1065,700,438,1293,318,658
Denver,630,450,705,326,200,1601,415,900
Hartford,43,75,69,45,31,143,50,103
Tallahassee,3,4,20,4,8,62,19,30
Atlanta,36,360,382,140,123,719,392,435
Honolulu,50,332,583,168,147,505,235,303
Boise,82,180,196,95,87,584,210,362
Springfield,11,37,42,16,12,116,57,161
Indianapolis,15,52,47,16,12,189,75,117
Des Moines,24,43,69,28,25,298,126,324
Topeka,3,4,13,0,1,24,9,33
Baton Rouge,0,16,37,10,11,49,16,32
Boston,117,278,300,144,138,632,124,285
Lansing,2,7,13,3,4,114,39,83
Saint Paul,131,406,334,137,102,1095,469,875
Jackson,0,7,24,2,3,29,29,18
Lincoln,16,13,25,24,18,133,44,125
Albany,41,58,33,52,28,149,50,95
Raleigh,39,176,174,54,43,341,108,214
Columbus,45,81,113,32,17,288,102,198
Oklahoma City,17,88,93,62,26,400,173,327
Salem,74,128,124,51,41,304,145,227
Providence,21,55,95,35,17,132,45,88
Columbia,6,28,30,15,10,89,24,42
Nashville,29,174,214,45,48,509,156,324
Austin,31,193,244,83,50,369,135,275
Salt Lake City,6,7,8,3,4,18,8,9
Richmond,17,74,55,29,22,179,61,87
Madison,53,62,85,41,40,184,69,180